.button-norm {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 85px;
  height: 25px;

  padding: 0;

  border: 1px solid black;
  border-radius: 5px;

  background-color: wheat;

  cursor: pointer;
} 

.button-middle {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 150px;
  height: 25px;

  padding: 0;

  border: 1px solid black;
  border-radius: 5px;

  background-color: wheat;

  cursor: pointer;
}

.button-big {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 250px;
  height: 25px;

  padding: 0;

  border: 1px solid black;
  border-radius: 5px;

  background-color: wheat;

  cursor: pointer;
}