.form-create {

}

.form-create__label {
  display: flex;

  margin: 10px 0 0 0;
}

.form-create__text {
  display: block;

  width: 300px;
}

.form-create__input {

}

.form-create__btn-container {
  margin: 20px 0 0 0;
}

.form-create__form-wraper {
  margin: 20px 0 0 0;
}

.form-create-table__td--fix-size {
  width: 450px;
}

.form-create-table__td--text-centr {
  text-align: center;
}