.edit-table-container {
  padding: 0 0 20px 0;
}

.edit-table__wrapper {
  padding: 10px 0 0 0;
}

.edit-table-form {
  padding: 5px 0;
}

.edit-table-form__input-container {
 width: 600px;
}

.edit-table-form__label {
  display: flex;
  justify-content: space-between;

  margin: 0 0 5px 0;
}

.edit-table-form__label:last-child {
  margin: 0;
}

.edit-table-form__span {

}

.edit-table-form__input {

}

.edit-table-form__btn-container {
 display: flex;

 margin: 5px 0 0 0;
}

.edit-table-form__btn {
  margin: 0 5px 0 0;
}
.edit-table-form__btn:last-child {
  margin: 0;
}


